@page "/"
@using InverterMon.Shared.Models
@using System.Text.Json
@inject HttpClient Http

<PageTitle>Dashboard</PageTitle>

<div class="container">

@if(status?.GridUsageWatts > 0)
{
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <h5 class="card-header">
                    <span class="oi oi-power-standby" aria-hidden="true"/>
                    Grid Usage
                </h5>
                <div class="card-body">
                    <div class="container text-center fw-bold">
                        <div class="row bg-light rounded p-2">
                            <div class="col">
                                <div class="fs-1 text-danger">@status?.GridUsageWatts</div>
                                Watts
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>   
}
    <div class="row mt-3">
        <div class="col-sm-6">
            <div class="card">
                <h5 class="card-header">
                    <span class="oi oi-lightbulb" aria-hidden="true"/>
                    Output Load
                </h5>
                <div class="card-body">
                    <div class="container text-center fw-bold">
                        <div class="row bg-light rounded p-2">
                            <div class="col">
                                <div class="fs-1 text-danger">@status?.LoadWatts</div>
                                Watts
                            </div>
                        </div>                         
                        <div class="row p-1">
                            <div class="col">
                                <div class="fs-5 text-muted">@RoundToWholeNumer(status?.OutputVoltage)</div>
                                <span class="text-body">Voltage</span>
                                <div class="unit">(V)</div>
                            </div>
                            <div class="col">
                                <div class="fs-5 text-muted">@RoundToOneDecimal(status?.LoadCurrent)</div>
                                Current
                                <div class="unit">(A)</div>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-sm-6">
            <div class="card">
                <h5 class="card-header">
                    <span class="oi oi-sun" aria-hidden="true"/>
                    PV Input
                </h5>
                <div class="card-body">
                    <div class="container text-center fw-bold">
                        <div class="row bg-light rounded p-2">
                            <div class="col">
                                <div class="fs-1 text-success">@status?.PVInputWatt</div>
                                Watts
                            </div>
                        </div>                         
                        <div class="row p-1">
                            <div class="col">
                                <div class="fs-5 text-muted">@RoundToWholeNumer(status?.PVInputVoltage)</div>
                                <span class="text-body">Voltage</span>
                                <div class="unit">(V)</div>
                            </div>
                            <div class="col">
                                <div class="fs-5 text-muted">@RoundToOneDecimal(status?.PVInputCurrent)</div>
                                Current 
                                <div class="unit">(A)</div>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>

<div class="container pt-3">
        <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <h5 class="card-header align-self-center w-100">
                    <span class="oi oi-battery-empty" aria-hidden="true"/>
                    Battery
                </h5>
                <div class="container text-center p-2">
                    <div class="row">
                        <div class="col-4">
                            <span class="fs-6 fw-bold text-muted charge-discharge">Charging</span>
                            <div class="fw-bold">
                                <div class="fs-1 text-danger">@status?.BatteryChargeWatts</div>
                                Watts
                                <div class="fw-bold unit">
                                    <div class="fs-5 text-muted">@RoundToOneDecimal(status?.BatteryChargeCurrent)</div>
                                    (A)
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="container bg-light rounded-1 p-3 m-2 fw-bold text-muted fs-1">
                                <div class="fs-4 voltage">Voltage</div>
                                <div class="text-black charge-discharge">@RoundToOneDecimal(status?.BatteryVoltage)</div>
                                <div class="fs-6 text-black-50">(V)</div>
                            </div>
                        </div>
                        <div class="col-4">
                            <span class="fs-6 fw-bold text-muted charge-discharge">Discharging</span>
                            <div class="fw-bold">
                                <div class="fs-1 text-success">@status?.BatteryDischargeWatts</div>
                                Watts
                                <div class="fw-bold unit">
                                    <div class="fs-5 text-muted">@RoundToOneDecimal(status?.BatteryDischargeCurrent)</div>
                                    (A)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

@code{
    private InverterStatus? status;

    protected override async Task OnInitializedAsync()
    {
        var request = new HttpRequestMessage(HttpMethod.Get, "api/status");
        request.SetBrowserResponseStreamingEnabled(true);

        using var response = await Http.SendAsync(request, HttpCompletionOption.ResponseHeadersRead);
        response.EnsureSuccessStatusCode();

        using var stream = await response.Content.ReadAsStreamAsync();

        await foreach (var data in 
            JsonSerializer.DeserializeAsyncEnumerable<InverterStatus>(
                stream,
                new JsonSerializerOptions
                {
                    PropertyNameCaseInsensitive = true,
                    DefaultBufferSize = 64
                }))
        {
            if (data is not null)
            {
                status = data; 
                StateHasChanged();
            }            
        }
    }

    private decimal RoundToWholeNumer(decimal? val)
        => Math.Round(val ?? 0, 0);

    private decimal RoundToOneDecimal(decimal? val)
        => Math.Round(val ?? 0, 1);
}