@page "/settings"
@using InverterMon.Shared.Models
@inject HttpClient Http

<PageTitle>Settings</PageTitle>

<h1>Inverter Settings 
    @if(settings is null)
    {
        <span class="spinner-border"></span>
    }
</h1>

@if(settings is not null)
{
    <div class="container">
        <div class="row border-primary bg-light px-3">
            <div class="col-6 my-auto fw-bold">
                Battery Charging Priority:
            </div>
            <div class="col-6 bg-secondary p-2">
                <button type="button" class="btn btn-light d-block m-2" @onclick="()=>SetChargePriority(ChargePriorityRequest.OnlySolar)">
                    <span class="@Spinner(Button.ChOnlySolar)"></span>
                    <span class="@Hidden(Button.ChOnlySolar)">Solar Only</span>
                    <span class="@Success(Button.ChOnlySolar, ChargePriorityRequest.OnlySolar, settings.ChargePriority)"></span>
                </button>
                <button type="button" class="btn btn-light d-block m-2" @onclick="()=>SetChargePriority(ChargePriorityRequest.SolarFirst)">
                    <span class="@Spinner(Button.ChSolarFirst)"></span>
                    <span class="@Hidden(Button.ChSolarFirst)">Solar First</span>
                    <span class="@Success(Button.ChSolarFirst, ChargePriorityRequest.SolarFirst, settings.ChargePriority)"></span>
                </button>
                <button type="button" class="btn btn-light d-block m-2" @onclick="()=>SetChargePriority(ChargePriorityRequest.SolarAndUtility)">
                    <span class="@Spinner(Button.ChSolarAndUtility)"></span>
                    <span class="@Hidden(Button.ChSolarAndUtility)">Solar & Utility</span>
                    <span class="@Success(Button.ChSolarAndUtility, ChargePriorityRequest.SolarAndUtility, settings.ChargePriority)"></span>
                </button>
                <button type="button" class="btn btn-light d-block m-2" @onclick="()=>SetChargePriority(ChargePriorityRequest.UtilityFirst)">
                    <span class="@Spinner(Button.ChUtilityFirst)"></span>
                    <span class="@Hidden(Button.ChUtilityFirst)">Utility First</span>
                    <span class="@Success(Button.ChUtilityFirst, ChargePriorityRequest.UtilityFirst, settings.ChargePriority)"></span>
                </button>
            </div>
        </div>

        <div class="row border-primary bg-light px-3 mt-1">
            <div class="col-6 my-auto fw-bold">
                Output Source Priority:
            </div>
            <div class="col-6 bg-secondary p-2">
                <button type="button" class="btn btn-light d-block m-2" @onclick="()=>SetOutputPriority(OutputPriorityRequest.SolarFirst)">
                    <span class="@Spinner(Button.OpSolarFirst)"></span>
                    <span class="@Hidden(Button.OpSolarFirst)">Solar First</span>
                    <span class="@Success(Button.OpSolarFirst, OutputPriorityRequest.SolarFirst, settings.OutputPriority)"></span>
                </button>
                 <button type="button" class="btn btn-light d-block m-2" @onclick="()=>SetOutputPriority(OutputPriorityRequest.SolarBatteryUtility)">
                    <span class="@Spinner(Button.OpSolarBatteryUtility)"></span>
                    <span class="@Hidden(Button.OpSolarBatteryUtility)">Solar > Battery > Utility</span>
                    <span class="@Success(Button.OpSolarBatteryUtility, OutputPriorityRequest.SolarBatteryUtility, settings.OutputPriority)"></span>
                </button>  
                 <button type="button" class="btn btn-light d-block m-2" @onclick="()=>SetOutputPriority(OutputPriorityRequest.UtilityFirst)">
                    <span class="@Spinner(Button.OpUtilityFirst)"></span>
                    <span class="@Hidden(Button.OpUtilityFirst)">Utility First</span>
                    <span class="@Success(Button.OpUtilityFirst, OutputPriorityRequest.UtilityFirst, settings.OutputPriority)"></span>
                </button>                   
            </div>
        </div>
    </div>    
}

@code{
    private SettingsStatus? settings;
    private Button currentButton = Button.None;
    private bool isSuccess;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            settings = await Http.GetFromJsonAsync<SettingsStatus>("api/settings/get-current-values");
        }
        catch (Exception)
        {
            // do nothing
        }
    }

    private async Task SetChargePriority(string priority)
    {
        isSuccess = false;

        switch (priority)
        {
            case ChargePriorityRequest.OnlySolar:
                currentButton = Button.ChOnlySolar;
                break;
            case ChargePriorityRequest.SolarFirst:
                currentButton = Button.ChSolarFirst;
                break;
            case ChargePriorityRequest.SolarAndUtility:
                currentButton = Button.ChSolarAndUtility;
                break;
            case ChargePriorityRequest.UtilityFirst:
                currentButton = Button.ChUtilityFirst;
                break;
            default:
                currentButton = Button.None;
                break;
        };

        if (await Http.GetStringAsync($"api/settings/charge-priority/{priority}") == "true")
        { 
            isSuccess = true;
            settings!.ChargePriority = priority;
        }
    }

    private async Task SetOutputPriority(string priority)
    {
        isSuccess = false;

        switch (priority)
        {
            case OutputPriorityRequest.SolarFirst:
                currentButton = Button.OpSolarFirst;
                break;
            case OutputPriorityRequest.SolarBatteryUtility:
                currentButton = Button.OpSolarBatteryUtility;
                break;
            case OutputPriorityRequest.UtilityFirst:
                currentButton = Button.OpUtilityFirst;
                break;
            default:
                currentButton = Button.None;
                break;
        };

        if (await Http.GetStringAsync($"api/settings/output-priority/{priority}") == "true")
        { 
            isSuccess = true;
            settings!.OutputPriority = priority;
        }
    }

    private string Spinner(Button button)
        => currentButton == button && !isSuccess 
           ? "spinner-border" 
           : "";

    private string Hidden(Button button) 
        => currentButton == button && !isSuccess 
           ? "visually-hidden" 
           : "";

    private string Success(Button button, string currentValue, string settingValue) 
        => (currentButton == button && isSuccess) || currentValue == settingValue 
           ? "oi oi-circle-check text-success" 
           : "";

    private enum Button
    {
        None,
        ChOnlySolar,
        ChSolarFirst,
        ChSolarAndUtility,
        ChUtilityFirst,
        OpUtilityFirst,
        OpSolarFirst,
        OpSolarBatteryUtility
    }
}